body {
    width: 100vw;
    height: 100vh;
    margin: 0;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 2.5fr 18fr 18fr;

    font-family: Roboto;
}

.sidepanel {
    background-color: #1992d4;
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    margin: 0;

    list-style: none;
    display: grid;
    grid-template-rows: 3fr repeat(10, 1fr) 9fr;
    grid-template-columns: 1fr 10fr;
}

.sidepanel>li>img {
    width: 1.5vw;
    margin: auto;
}

.sidepanel>li {
    margin: auto;
    margin-left: 10px;
    color: white;
    font-family: Roboto;
    font-weight: bold;
}

.sidepanel>li:first-child {
    grid-column: 1 / 3;
    font-size: 32px;
}



/*
    Search panel
*/

.toppanelsearch {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.toppanelsearch ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr 1fr 3fr;
}

.toppanelsearch li:nth-child(1) {
    align-self: center;
    justify-self: center;
    width: 2vw;
}

.toppanelsearch li:nth-child(2) {
    align-self: center;
}

.toppanelsearch li:nth-child(2)>input {
    border-radius: 15px;
    border-style: none;
    width: 70%;
    height: 30px;
    background-color: #e2e8f0;
}

.toppanelsearch li:nth-child(3) {
    align-self: center;
    justify-self: center;
    width: 2vw;
}





/*
    Top panel, button menu
*/

.toppanelmenu {
    grid-column: 2 / 4;
    grid-row: 2 / 3;

    list-style: none;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    font-family: Roboto;
    margin: 0;
}

.toppanelmenu>li {
    align-self: center;
    justify-self: center;
}

.toppanelmenu li:nth-child(2) {
    align-self: center;
    justify-self: normal;
}


.profpic>img {
    width: 70px;
}

.greetname {
    font-size: large;
    font-weight: 900;
}

.greeting {
    font-weight: bold;
    font-size: small;
    margin-bottom: 5px;
}

.menubuttons {
    align-self: center;
    justify-self: center;
    background-color: #1992d4;
    color: white;
    border-style: none;
    border-radius: 20px;
    width: 110px;
    height: 40px;
    font-weight: bold;
}



/*
    Project display
*/

.projects {
    background-color: #e2e8f0;
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);

    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
}



/*
    Headers
*/

.projects>.header {
    font-size: 18px;
    font-weight: 900;
    margin-left: 24px;
    margin-top: 48px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.announcements>.header {
    font-size: 18px;
    font-weight: 900;
    margin-left: 24px;
    margin-top: 48px;
}

.trending>.header {
    font-size: 18px;
    font-weight: 900;
    margin-left: 24px;
    margin-top: 48px;
}

.announcements hr {
    margin-left: 15px;
    margin-right: 15px;
}

.announcements p {
    margin-left: 15px;
    margin-right: 15px;
}



/*
    Project items
*/

.pitem {
    background-color: white;
    border-left: 8px solid #f0b429;
    border-radius: 8px;
    box-shadow: 3px 3px 6px #b2b8c0;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.pbottom {
    display: grid;
    grid-template-columns: 8fr 1fr 1fr 1fr;
    list-style: none;
    margin-bottom: 10px;
}

.pbottom>li:nth-child(1) {
    grid-column: 2 / 3;
}

.pbottom img {
    width: 20px;
    height: 20px;
    margin: 0;
}

.pitem .pitext {
    margin-left: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 15px;
    font-family: Roboto;
    color: rgb(110, 110, 110);
}

.pitem h4 {
    margin-left: 15px;
    margin-bottom: 0px;
    font-family: Roboto;
}



/*
    Announcements sidebar
*/

.announcements {
    background-color: #e2e8f0;
    grid-column: 3 / 4;
    grid-row: 3 / 4;

    display: grid;
    grid-template-rows: 1fr 4fr;

    padding-right: 40px;
}

.announcementcontainer {
    background: white;
    border-radius: 8px;
    box-shadow: 3px 3px 6px #b2b8c0;
    margin-bottom: 10px;
    padding-left: 0px;

    display: grid;

    list-style: none;
    align-items: center;
    justify-content: center;

    font-size: small;
}



/*
    Trending sidebar
*/

.trending {
    background-color: #e2e8f0;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    display: grid;
    grid-template-rows: 1fr 4fr;
    padding-right: 40px;
    box-shadow: 3px 3px 6px #b2b8c0;
}

.trendingcontainer {
    background: white;
    border-radius: 8px;
    box-shadow: 3px 3px 6px #b2b8c0;
    list-style: none;
    margin-bottom: 20px;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px;

    font-size: smaller;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(4, 1fr);
}

.trendingcontainer img {
    width: 50px;
    margin-right: 20px;
}

/* Select all nametag objects*/
.trendingcontainer>li:nth-child(2n) {
    align-self: center;
}

/* Select all images*/
.trendingcontainer>li:nth-child(2n + 1) {
    align-self: center;
    justify-self: center;
    margin-left: 20px;
}

.trb_slogan {
    color: rgb(110, 110, 110);
}

.trb_tag {
    font-weight: bold;
}